@import "reset.css";
/* FONT */
@font-face {
  font-family: "CookieRunOTF-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GyeonggiBatang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24Shiningstar';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Shiningstar.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
          
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
  font-family: "Noto Sans KR", sans-serif;
}

.myfont {
  font-family: 'Cafe24Shiningstar';
  font-size: 1.5rem;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Noto Sans KR", sans-serif;
  background-color: #d6cfcb;
}

/* header */
header {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 10%;
  background-color: #a6808c;
  color: white;
}

header h1 {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  font-family: 'GyeonggiBatang';
}

.goLogin {
  margin-left : auto;
  margin-right : 1em;
}

header a {
  all: unset;
  color: white;
  cursor: pointer;
  font-family: 'GyeonggiBatang';
}

header .dslion {
  /* margin-left: auto; */
  width: 50px;
  margin-right: 1em;
}

header .homeimg{
  margin-left: auto;
  width: 50px;
  margin-left: 1em;
}
/* section*/
section {
  width: 70%;
}

/* footer */

footer {
  background-color: #ccb7ae;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: auto;
}
footer p {
  font-size: 8pt;
  color: #ebf0f1;
}

/* 공통 요소 */

h3 {
  color: #565264;
  font-size: 2rem;
  font-family: 'Cafe24Shiningstar';
}

.date {
  font-size: 9pt;
  color: gray;
}

/* home.html */
.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px dashed #565264;
  margin: 1em 1em;
}

.home p {
  flex-basis: auto;
  word-break: break-all;
  font-size: 1rem;
  font-family: 'Cafe24Shiningstar';
}
.home a {
  all: unset;
  color: #565264;
  font-size: 2rem;
  cursor: pointer;
  font-family: 'Cafe24Shiningstar';
}

.preview {
  font-size: 9pt;
  color: gray;
  margin-bottom: 0px;
}

/* create.html */
#id_title,
#id_body {
  background: none;
  appearance: none;
  border: 0;
  color: black;
  border-bottom: 1px solid black;
  margin-top: 1em;
}

#id_title {
  font-size: 20px;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
}

#id_body {
  font-size: 15px;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
}

/* detail.html */

.detail {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.btn {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.btn a {
  all: unset;
  color: gray;
  margin: 1rem;
  cursor: pointer;
  font-weight: bolder;
}
.btn a:hover {
  color: #44b78b;
}

.detail p {
  margin: 1em;
  word-break: break-all;
  font-size: 1.5rem;
  font-family: 'Cafe24Shiningstar';
}

/* create.html update.html */
form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

input[type="submit"] {
  background-color: #ccb7ae;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 12pt;
}

input[type="submit"]:hover {
  background-color: #706677;
  color: white;
  border: 1px solid white;
}

input{
  background-color:white;
  border: 1.5px solid #ccb7ae;
  border-radius: 5px;
  font-size: 12pt;
}

.lo:hover{
  color : #565264 
}