{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>로그인하고 댓글달기</title>
  </head>
  <body>
    <header>
      <a href="{% url 'home' %}"><img class="homeimg" src="{% static 'IMG_0290.png' %}"></a>
      <a href="{% url 'create' %}"><h1>새글쓰기</h1></a>
      <div class="goLogin"><a href="{% url 'signup'%}">회원가입하기</a> | <a href="{% url 'login' %}">로그인하기</a>
      </div>
      <img class="dslion" src="{% static 'likelionds.png' %}" alt="" />
    </header>
    <section class="myfont">
    <!-- 내용 들어가는 부분 -->
    {% block content %}
    {% endblock %}
    </section>
    <footer>
      <p>Copyright ⓒ 2020 덕성여대 멋쟁이사자처럼 All rights reserved.</p>
    </footer>
  </body>
</html>
